[Unit]
Description=easytier
After=network.target nss-lookup.target

[Service]
User=easytier
Group=easytier
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW
Type=exec
ExecStart=/usr/bin/easytier-core -c /etc/easytier/config.toml
Restart=on-failure
TimeoutStartSec=10s
RestartSec=5s

[Install]
WantedBy=multi-user.target
